api_platform:

    eager_loading:
        max_joins: 100

    collection:
        pagination:
            client_items_per_page: true
            items_per_page_parameter_name: itemsPerPage

    mapping:
        paths: ['%kernel.project_dir%/src/Entity']

    patch_formats:
        json: ['application/merge-patch+json']

    swagger:
        api_keys:
            apiKey:
                name: Authorization
                type: header
    formats:
        jsonld:   ['application/ld+json']
        jsonhal:  ['application/hal+json']
        jsonapi:  ['application/vnd.api+json']
        json:     ['application/json']
        xml:      ['application/xml', 'text/xml']
        yaml:     ['application/x-yaml']
        csv:      ['text/csv']
        html:     ['text/html']



