@use 'src/styles/vars';
.product {
    border: vars.$border;
    border-radius: vars.$radius;
    margin: vars.$gutter;
    padding: vars.$gutter;
    flex: 30% 0;
    background-color: vars.$color-light-trans;
    color: vars.$color-primary;
    &__img {
        width: 100px;
    }
    &__price-add {
        padding: vars.$gutter / 2;
        border-radius: vars.$radius;
        margin: auto;
        width: 250px;
        background-color: vars.$color-light;
        border: none;
        color: vars.$color-grey;
        margin-bottom: vars.$gutter * 2;
        &:focus {
            box-shadow: 0 0 5px 1px vars.$color-lavander;
        }
    }
    &__title-add {
        padding: vars.$gutter / 2;
        border-radius: vars.$radius;
        margin: vars.$gutter * 1.2;
        width: 250px;
        background-color: vars.$color-light;
        border: none;
        color: vars.$color-grey;
        margin-bottom: vars.$gutter;
        &:focus {
            box-shadow: 0 0 5px 1px vars.$color-lavander;
        }
    }
}
