 @use 'src/styles/vars';
 .messaging {
     flex: 30%;
     padding: vars.$gutter;
     border-radius: 0.5rem;
     margin: vars.$gutter;
     color: vars.$color-light;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     &__title {
         text-align: center;
         font-size: 1.7rem;
         font-weight: bold;
     }
 }
 
 .viewMore {
     &__messaging {
         border: 2px solid vars.$color-light;
         border-radius: 0.5rem;
         margin: 1.5rem;
         margin-top: 1rem;
         padding: 0.8rem;
         text-decoration: underline;
         background-color: vars.$color-green;
         color: vars.$color-light;
     }
 }
 
 .viewMore__messaging:hover {
     background-color: vars.$color-lavander;
     font-size: 1.2rem;
     font-weight: bold;
 }
 
 @media (min-width: 768px) {
     .messaging {}
 }
