@use 'sass:color';
// $color-primary: #285528;
$color-primary: rgb(186, 180, 189);
$color-primary-trans: color.scale($color-primary, $alpha: -55%);
$color-primary-middle: color.scale($color-primary, $lightness: 10%, $alpha: -25%);
$color-primary-op: color.scale($color-primary, $alpha: -15%);
$color-lavander: rgb(130, 71, 128);
$color-lavander-light: color.scale($color-lavander, $lightness: +42%);
$color-green: #285528;
// $color-alt-trans: color.scale($color-alt, $alpha: -15%);
$color-green-light: color.scale($color-green, $lightness: +42%);
$color-alt-dark: #f0f;
$color-alt: #f0f;
$color-light: #e8eee8;
$color-light-trans: color.scale($color-light, $alpha: -45%);
$color-black: #000000;
$color-grey: #18181893;
$border: 2px solid $color-light;
$shadow-purple: 0 0 5px 1px $color-green;
$radius: 0.7rem;
$gutter: 1rem;
